In [1]:
import requests
import pandas as pd
import numpy as np
import plotly as plt
import os
import altair as alt

os.chdir('/Users/Alia/Documents/Github/SpendApp/Raw_Data')

ModuleNotFoundError: No module named 'plotly'

In [8]:
toptier_code='097'
url = 'https://api.usaspending.gov'
#endpoint = f'/api/v2/agency/{toptier_code}/obligations_by_award_category/'
endpoint=f'/api/v2/agency/{toptier_code}/sub_agency/'
payload = {"fiscal_year":2022}

response = requests.get(f'{url}{endpoint}',params=payload)
data = response.json()

if response.status_code == 200:
    print(f"Request was successful: {response.status_code}")
else:
    print(f"Request was unsuccessful: {response.status_code}")
    
df = pd.DataFrame(data["results"])

Request was successful: 200

In [9]:
df

,name,abbreviation,total_obligations,transaction_count,new_award_count,children
0,Department of the Army,USA,3.779207e+10,47828,11010,"[{'name': 'W6QK ACC-APG NATICK', 'code': 'W58P..."
1,Department of the Navy,USN,3.632500e+10,61904,16820,"[{'name': 'NAVSEA HQ', 'code': 'N00024', 'tota..."
2,Department of the Air Force,USAF,2.391191e+10,33338,7339,"[{'name': 'FA8051 772 ESS PKD', 'code': 'FA80..."
3,Defense Logistics Agency,DLA,1.278715e+10,1226463,1180438,"[{'name': 'DLA TROOP SUPPORT', 'code': 'SPE2DS..."
4,Defense Health Agency,DHA,6.890535e+09,1580,282,"[{'name': 'DEFENSE HEALTH AGENCY', 'code': 'HT..."
5,Missile Defense Agency,MDA,2.227726e+09,1413,350,"[{'name': 'MISSILE DEFENSE AGENCY (MDA)', 'cod..."
6,USTRANSCOM,None,1.721256e+09,1897,970,"[{'name': 'USTRANSCOM-AQ', 'code': 'HTC711', '..."
7,Defense Information Systems Agency,DISA,1.647187e+09,16696,1896,"[{'name': 'IT CONTRACTING DIVISION - PL83', 'c..."
8,Defense Advanced Research Projects Agency,DARPA,5.350681e+08,743,97,[{'name': 'DEF ADVANCED RESEARCH PROJECTS AGCY...
9,Washington Headquarters Services,WHS,4.732553e+08,998,122,"[{'name': 'WASHINGTON HEADQUARTERS SERVICES', ..."

In [10]:
d = df['children'][0]

In [144]:
full = pd.DataFrame(columns=['name', 'code','total_obligations','transaction_count','new_award_count'])


for a in d:
    df = pd.DataFrame(a.items()).transpose()
    df.columns = df.iloc[0]
    df = df.tail(df.shape[0] -1)
    full = full.append(df)
    
full = full.reset_index(drop=True)
full

,name,code,total_obligations,transaction_count,new_award_count
0,W6QK ACC-APG NATICK,W58P05,15982314508.620001,46,12
1,W4MM USA JOINT MUNITIONS CMD,W52P1J,2631740382.49,2056,241
2,W4GG HQ US ARMY TACOM,W56HZV,1908706611.8,1286,137
3,W6QK ACC-RSA,W31P4Q,1834398047.52,1391,76
4,W6QK ACC-PICA,W15QKN,1535949006.21,1212,263
...,...,...,...,...,...
306,W075 ENDIST TF BARRIER,W50UW8,-85313.78,14,3
307,W6QK ACC-RI,W560MY,-872199.42,5,0
308,W31R ENDIST AFGHANISTAN NORTH,W5J9JE,-10515857.29,36,0
309,W6QK ELE RCC BAGRAM,W91B4N,-24248641.67,104,3
310,W2SU ENDIST FORT WORTH,W518EA,-354100625.3,12,4

In [128]:
full.shape

(311, 5)

In [130]:
full['transaction_count'].sum()

47316

In [131]:
full['name'].unique()

array(['W6QK ACC-APG NATICK', 'W4MM USA JOINT MUNITIONS CMD',
       'W4GG HQ US ARMY TACOM', 'W6QK ACC-RSA', 'W6QK ACC-PICA',
       'W6QK ACC-APG', 'W6QK ACC-ORLANDO', 'W6QK ACC-APG DURHAM',
       'W4PZ USA MED RSCH ACQUIS ACT', 'W2SD ENDIST NEW YORK',
       'W2V6 USA ENG SPT CTR HUNTSVIL', 'W2SD FEST NAU1 EUROPE',
       'W40M USA HLTH CONTRACTING ACT',
       'US ARMY ENGINEER DISTRICT LOUISVILL', 'W071 ENDIST OMAHA',
       'US ARMY ENGINEER DISTRICT SAVANNAH', 'W6QM MICC-FT RUCKER',
       'W07V ENDIST N ORLEANS', 'W2SD ENDIST NEW ENGLAND',
       'W6QM MICC-FT KNOX', 'US ARMY ENGINEER DISTRICT MOBILE',
       '0409 AQ HQ     CONTRACT', 'ACC-ABERDEEN PROVING GROUNDS CONT C',
       'ACC-ABERDEEN PROVING GROUNDS CONTR', 'W071 ENDIST KANSAS CITY',
       '411TH CONTRACTING SUPORT BRIGAGE AU',
       'US ARMY ENGINEER DISTRICT FT WORTH', 'W3ZL OFC PM SANG MOD PROG',
       'W6QK ACC-APG ADELPHI', 'W40M RHCO PACIFIC',
       'W2SD ENDIST BALTIMORE', 'W40M RHCO ATLANTIC',
       'W2SN ENDIST ALASKA', 'W6QM MICC-FDO FT SAM HOUSTON',
       'W31R ENDIS MIDDLE EAST', 'US ARMY ENGINEER DISTRICT TULSA',
       'US ARMY ENGINEER DISTRICT PORTLAND',
       'US ARMY ENGINEER DISTRICT SACRAMENT', 'W6QM MICC-FT LEAVENWORTH',
       'W6QK ACC-RSA COS', 'W39L USA NG READINESS CENTER',
       'US ARMY ENGINEER DISTRICT FAREAST', 'U S ARMY DEPOT TOBYHANNA',
       'W2R2 USA ENGR R AND D CTR', 'US ARMY ENGINEER DISTRICT JACKSONVI',
       'W6QM MICC-FDO FT HOOD', 'ACC-AVIATION APPLIED TECHNOLOGY DIR',
       'US ARMY ENGINEER DISTRICT WILMINGTO',
       'US ARMY HUMPHREYS ENGINEER CTR SPT',
       'W7MX USPFO ACTIVITY CA ARNG', 'W07V ENDIST MEMPHIS',
       'W07V ENDIST VICKSBURG', 'W6QM MICC-FT BENNING',
       'W6QM MICC-FDO FT EUSTIS', 'W6QM MICC-YUMA PROV GRD',
       'W075 ENDIST LOS ANGELES', 'US ARMY ENGINEER DISTRICT GALVESTON',
       'W7NX USPFO ACTIVITY PA ARNG',
       'US ARMY ENGINEER DISTRICT LITTLE RO',
       'W7M7 USPFO ACTIVITY IN ARNG', 'W7N5 USPFO ACTIVITY VA ARNG',
       'W6QM MICC FDO FT BRAGG', 'US ARMY ENGINEER DISTRICT CHARLESTO',
       'W7NH USPFO ACTIVITY MS ARNG', 'W6RN USA GEOSPATIAL CTR',
       'W7NG USPFO ACTIVITY MN ARNG', 'US ARMY ENGINEER DISTRICT SEATTLE',
       'W7N2 USPFO ACTIVITY TX ARNG', 'W6QM MICC-FT BLISS',
       'W6QM MICC FT MCCOY (RC)', 'W7NZ USPFO ACTIVITY SC ARNG',
       'W7M5 USPFO ACTIVITY ID ARNG', 'W6QM MICC-FT LEONARD WOOD',
       'W7NF USPFO ACTIVITY MI ARNG', 'W7M8 USPFO ACTIVITY IA ARNG',
       'US ARMY RAPID CAPABILITIES AND CRIT', '0413 AQ HQ     CONTRACT',
       'W7NS USPFO ACTIVITY NC ARNG', 'W7MW USPFO ACTIVITY AR ARNG',
       'W6QK ACC CCDC STTC', 'W7M3 USPFO ACTIVITY GA ARNG',
       'W7NV USPFO ACTIVITY OK ARNG', 'W6QM MICC-FT GORDON',
       'US ARMY ENGINEER DISTRICT WALLA WAL',
       'W7N7 USPFO ACTIVITY WV ARNG', 'W6QM MICC-FT CARSON',
       'W6QM MICC-FT BELVOIR', 'W7N8 USPFO ACTIVITY WI ARNG',
       'W6QM MICC-FT SILL', 'W7NA USPFO ACTIVITY KY ARNG',
       'W7N1 USPFO ACTIVITY TN ARNG', 'W2SD ENDIST PHILADELPHIA',
       'W7N4 USPFO ACTIVITY VT ARNG', '630TH SUPPORT DETACHMENT',
       'W6QM MICC-FT STEWART', 'W7M2 USPFO ACTIVITY FL ARNG',
       'US ARMY ENGINEER DISTRICT HAWAII', 'W7MT USPFO ACTIVITY AL ARNG',
       'W6QM MICC-FT DRUM', 'W7NP USPFO ACTIVITY NJ ARNG',
       'W6QM MICC FT LEE', 'W6QM MICC-WEST POINT',
       'US ARMY ENGINEER DISTRICT JPN', 'W072 ENDIST CHICAGO',
       'W6QM MICC-FT JACKSON', 'W7N3 USPFO ACTIVITY UT ARNG',
       'W2R2 CONST ENGRG LAB', 'W07V ENDIST ST LOUIS',
       'W7MV USPFO ACTIVITY AZ ARNG', 'W07V ENDIST ROCK ISLAND',
       '646TH SUPPORT DETACHMENT', 'W6QK ACC-APG DIR',
       'W7NE USPFO ACTIVITY MA ARNG', 'W7NW USPFO ACTIVITY OR ARNG',
       'W40M RHCO EUROPE', 'U S ARMY DEPOT RED RIVER',
       'USA WATERVLIET ARSENAL', 'W6QM MICC-FT IRWIN',
       'W6QM MICC-DUGWAY PROV GRD', 'W7NC USPFO ACTIVITY ME ARNG',
       'W6QM MICC-JB LEWIS-MC CHORD', 'W7N6 USPFO ACTIVITY WA ARNG',
       'W7M6 USPFO ACTIVITY IL ARNG', 'W7N0 USPFO ACTIVITY SD ARNG',
       '0670 AQ TM     CONTRACTING TEA', 'W7PA USPFO ACTIVITY PR ARNG',
       'W6QM MICC-FT POLK', 'W7NU USPFO ACTIVITY OH ARNG',
       'W7NB USPFO ACTIVITY LA ARNG', 'W7MZ USPFO ACTIVITY CT ARNG',
       '0629 AQ TM     CONTRACTING TEA', 'W7M9 USPFO ACTIVITY KS ARNG',
       'W075 ENDIST ALBUQUERQUE', 'ECC PARC EUROPE REGIONAL CONTRACTIN',
       'US ARMY ENGINEER DISTRICT HUNTINGTO',
       'W7NL USPFO ACTIVITY NE ARNG', 'W7NN USPFO ACTIVITY NH ARNG',
       'W6QK CCAD CONTR OFF', 'W7NY USPFO ACTIVITY RI ARNG',
       'W7N9 USPFO ACTIVITY WY ARNG', 'W072 ENDIST BUFFALO',
       'W7MY USPFO ACTIVITY CO ARNG', 'W7NQ USPFO ACTIVITY NM ARNG',
       'W6QK ACC-RI', 'W7NT USPFO ACTIVITY ND ARNG',
       'W2SD ENDIST NORFOLK', 'W6QM MICC-FT CAMPBELL',
       'W6QK LAD CONTR OFF', 'W07V ENDIST ST PAUL',
       'W7M4 USPFO ACTIVITY HI ARNG', 'W7M0 USPFO ACTIVITY DE ARNG',
       'US ARMY ENGINEER DISTRICT NASHVILLE',
       '0414 AQ HQ     CONTRACT AUG', 'W7NJ USPFO ACTIVITY MO ARNG',
       '0408 AQ HQ     CONTRACT', 'W7NR USPFO ACTIVITY NY ARNG',
       'W7NM USPFO ACTIVITY NV ARNG',
       'US ARMY ENGINEER DISTRICT PITTSBURG',
       'W7N7 USPFO ACTIVITY WVANG 167',
       'ECC PARC EUROPE CONTRACTING OFF STU', 'W6QM MICC-PRESIDIO (RC-W)',
       'W2R2 COLD RGNS RSCH ENG LAB', 'W0LX ANNISTON DEPOT PROP DIV',
       '0410 AQ HQ     CONTRACT', 'W7N9 USPFO ACTIVITY WYANG 153',
       'W7ND USPFO ACTIVITY MD ARNG', 'W6QM MICC-CARLISLE BARRACKS',
       'W390 MCALESTER ARMY AMMO PLANT', 'W7MU USPFO ACTIVITY AK ARNG',
       '408TH HQ KUWAIT OFFICE', 'W6QM MICC-FT RILEY',
       'W7RQ USPFO ACTIVITY VI ARNG', 'W7M1 USPFO ACTIVITY DC ARNG',
       'W072 ENDIST DETROIT', 'W6QK PBA CONTR OFF', 'W2R2 TOPO ENGRG LAB',
       'BLUE GRASS ARMY DEPOT', 'W7NK USPFO ACTIVITY MT ARNG',
       'W6QK SIAD CONTR OFF', '0413 AQ HQ     CONTRACT AUG',
       'W7N1 USPFO ACTIVITY TNANG 134', 'W075 ENDIST SAN FRAN',
       'W7NF USPFO ACTIVITY MIANG 127', 'W6QM MICC-FORT BUCHANAN (RC)',
       'W7NR USPFO ACTIVITY NYANG 174',
       'ECC PARC EUROPE CONTRACTING OFF WIS',
       'W7NX USPFO ACTIVITY PAANG 171', 'W7MX USPFO ACTIVITY CAANG 163',
       '0623 AQ TM     CONTRACTING TEA', 'W7QP USPFO ACTIVITY GU ARNG',
       'W7NU USPFO ACTIVITY OHANG 179', '0410 AQ HQ     CONTRACT AUG',
       'W7MT USPFO ACTIVITY ALANG 187', 'W7M3 USPFO ACTIVITY GAANG 165',
       'W7N8 USPFO ACTIVITY WIANG 115', 'W7NW USPFO ACTIVITY ORANG 142',
       'TOOELE ARMY DEPOT', '0414 AQ HQ     CONTRACT SPT BD',
       'W7M7 USPFO ACTIVITY INANG 181', 'W7MU USPFO ACTIVITY AKANG 176',
       'W7NS USPFO ACTIVITY NCANG 145', 'W7NX USPFO ACTIVITY PAANG 193',
       'W7NQ USPFO ACTIVITY NMANG 150', 'W7NZ USPFO ACTIVITY SCANG 169',
       'W7PA USPFO ACTIVITY PRANG 156', 'W7MX USPFO ACTIVITY CAANG 129',
       'W7MY USPFO ACTIVITY COANG 140', 'W7NB USPFO ACTIVITY LAANG 159',
       'W7M9 USPFO ACTIVITY KSANG 184', 'W7MX USPFO ACTIVITY CAANG 195',
       'W7NP USPFO ACTIVITY NJANG 177', 'W7NR USPFO ACTIVITY NYANG 109',
       'W7NM USPFO ACTIVITY NVANG 152', 'W7NV USPFO ACTIVITY OKANG 137',
       'W7N5 USPFO ACTIVITY VAANG 192', 'W7NW USPFO ACTIVITY ORANG 173',
       'W7NJ USPFO ACTIVITY MOANG 139', 'W7M6 USPFO ACTIVITY ILANG 182',
       'W7N2 USPFO ACTIVITY TXANG 149', 'W7N8 USPFO ACTIVITY WIANG CRTC',
       'W7N4 USPFO ACTIVITY VTANG 158', 'W7NG USPFO ACTIVITY MNANG 148',
       'W7M6 USPFO ACTIVITY ILANG 183', 'W7MW USPFO ACTIVITY ARANG 188',
       'W7M1 USPFO ACTIVITY DCANG 113', 'W7NH USPFO ACTIVITY MSANG 186',
       'W7MX USPFO ACTIVITY CAANG 146', 'W7MT USPFO ACTIVITY ALANG 117',
       'W7N7 USPFO ACTIVITY WVANG 130', 'W7M2 USPFO ACTIVITY FLANG 125',
       'W7NY USPFO ACTIVITY RIANG 143', 'W7M6 USPFO ACTIVITY ILANG 126',
       'W7NT USPFO ACTIVITY NDANG 119', 'W7N1 USPFO ACTIVITY TNANG 164',
       'W7NA USPFO ACTIVITY KYANG 123', 'W7N8 USPFO ACTIVITY WIANG 128',
       'W7NR USPFO ACTIVITY NYANG 105', 'W7NF USPFO ACTIVITY MIANG 110',
       'W7NC USPFO ACTIVITY MEANG 101', 'W7ND USPFO ACTIVITY MDANG 175',
       'W7NV USPFO ACTIVITY OKANG 138', 'W7MV USPFO ACTIVITY AZANG 162',
       'W7NU USPFO ACTIVITY OHANG 178', 'W7M7 USPFO ACTIVITY INANG 122',
       'W7M9 USPFO ACTIVITY KSANG 190', 'W7NE USPFO ACTIVITY MAANG 104',
       'W6KD USACE EIT SVCS', 'W7NE USPFO ACTIVITY MAANG 102',
       'W7NL USPFO ACTIVITY NEANG 155', 'W7NU USPFO ACTIVITY OHANG 180',
       'W7MX USPFO ACTIVITY CAANG 144', 'W7M4 USPFO ACTIVITY HIANG 154',
       'W7NH USPFO ACTIVITY MSANG CRTC', 'W6QM MICC-WHITE SANDS',
       'W39Z STK REC ACCT-CRANE AAP', 'W7M8 USPFO ACTIVITY IAANG 185',
       'W7M3 USPFO ACTIVITY GAANG 116', 'W7N0 USPFO ACTIVITY SDANG 114',
       'W7M5 USPFO ACTIVITY IDANG 124', 'W7NF USPFO ACTIVITY MIANG CRTC',
       'W7M8 USPFO ACTIVITY IAANG 132', 'W7NU USPFO ACTIVITY OHANG 121',
       'W7NG USPFO ACTIVITY MNANG 133', 'W7N1 USPFO ACTIVITY TNANG 118',
       'W7NN USPFO ACTIVITY NHANG 157', 'W7N2 USPFO ACTIVITY TXANG 136',
       'W7MU USPFO ACTIVITY AKANG 168', 'W00Y CONTR OFC DODAAC',
       'W7NP USPFO ACTIVITY NJANG 108', 'W7M0 USPFO ACTIVITY DEANG 166',
       'W7N6 USPFO ACTIVITY WAANG 194', 'W7N3 USPFO ACTIVITY UTANG 151',
       'W7NJ USPFO ACTIVITY MOANG 131', 'W40M FT GORDON CELL RHCO-A',
       'W7N2 USPFO ACTIVITY TXANG 147', 'W7MZ USPFO ACTIVITY CTANG 103',
       'W7MV USPFO ACTIVITY AZANG 161', 'W6QK AID CONTR OFF',
       'W7NR USPFO ACTIVITY NYANG 107', 'W40M FT LEWIS CELL RHCO-P',
       'W6QK ELE RCC PHOENIX', 'W7NR USPFO ACTIVITY NYANG 106',
       'W7MW USPFO ACTIVITY ARANG 189', 'W075 ENDIST TF BARRIER',
       'W31R ENDIST AFGHANISTAN NORTH', 'W6QK ELE RCC BAGRAM',
       'W2SU ENDIST FORT WORTH'], dtype=object)

In [2]:
def historical(toptier_code):
    full = pd.DataFrame(columns=['fiscal_year','latest_action_date','toptier_code','transaction_count','obligations','messages'])
    for year in range(2008,2022):
        url = 'https://api.usaspending.gov'
        endpoint=f'/api/v2/agency/{toptier_code}/awards/'
        payload = {"fiscal_year":year}

        response = requests.get(f'{url}{endpoint}',params=payload)
    
        if response.status_code == 200:
            data = response.json()
            df = pd.DataFrame(data.items()).transpose()
            df.columns = df.iloc[0]
            df = df.tail(df.shape[0] -1)
            full = full.append(df)
    
    full['fiscal_year']=full['fiscal_year'].astype(str)
    full = full.reset_index(drop=True)
    return full

In [3]:
h = historical('097')
h

,fiscal_year,latest_action_date,toptier_code,transaction_count,obligations,messages
0,2008,2008-09-30T00:00:00,097,1609411,402485387739.409973,[Account data powering this endpoint were firs...
1,2009,2009-09-30T00:00:00,097,1531484,378524397389.080017,[Account data powering this endpoint were firs...
2,2010,2010-09-30T00:00:00,097,1582295,374262755014.799988,[Account data powering this endpoint were firs...
3,2011,2011-09-30T00:00:00,097,1566414,381253456363.679993,[Account data powering this endpoint were firs...
4,2012,2012-09-30T00:00:00,097,1478339,370087615555.059998,[Account data powering this endpoint were firs...
5,2013,2013-09-30T00:00:00,097,1351321,314649142466.609985,[Account data powering this endpoint were firs...
6,2014,2014-09-30T00:00:00,097,1368123,290842517720.5,[Account data powering this endpoint were firs...
7,2015,2015-09-30T00:00:00,097,3226898,280209681065.840027,[Account data powering this endpoint were firs...
8,2016,2016-09-30T00:00:00,097,3686532,304730143155.719971,[Account data powering this endpoint were firs...
9,2017,2017-09-30T00:00:00,097,3689433,328373371447.700012,[]
10,2018,2018-09-30T00:00:00,097,4528021,365950796736.159973,[]
11,2019,2019-09-30T00:00:00,097,4358727,391425325325.390015,[]
12,2020,2020-09-30T00:00:00,097,4056793,431601868634.210022,[]
13,2021,2021-09-30T00:00:00,097,4351099,395196337276.080017,[]

In [5]:
agencylist = pd.read_excel('/Users/Alia/Documents/Github/SpendApp/Raw_Data/CGAC_Table.xlsx')
agencylist

    CGAC                                AGENCY NAME
0
1    302     ADMINISTRATIVE CONFERENCE OF THE U. S.
2    306  ADVISORY COUNCIL ON HISTORIC PRESERVATION
3    530                 AFFORDABLE HOUSING PROGRAM
4    072      AGENCY FOR INTERNATIONAL DEVELOPMENT
..   ...                                        ...
145  486  UNITED STATES ENRICHMENT CORPORATION FUND
146  456    UNITED STATES HOLOCAUST MEMORIAL MUSEUM
147  458           UNITED STATES INSTITUTE OF PEACE
148  036      VETERANS AFFAIRS, DEPARTMENT OF 3600)
149  519               VIETNAM EDUCATION FOUNDATION

[150 rows x 2 columns]

In [7]:
agency = 'DEPARTMENT OF EDUCATION'
code = agencylist.loc[agencylist['AGENCY NAME'] == agency, 'CGAC']
code

35    091
Name: CGAC, dtype: object